h1 {
    color: rgb(1, 4, 0);
text-align: center;
background-color: rgb(98, 187, 192);
margin: 75px;
padding: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h2 {
    color: rgb(255, 251, 252);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}



body {background-color: rgba(48, 51, 46)}


img {
    transition: transform 1.5s
}

img:hover {
    transform: rotate(720deg);
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(1, 4, 0);
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    float: left;
    
}
nav ul li a {
    display: block; 
    padding: 10px;
    background-color: rgba(1, 4, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font
}

nav ul li a:hover {
    background-color: rgb(255, 251, 252);
    color: rgb(1, 4, 0)
}

.pullquote {
    margin-left: 80px;
    margin-right: 80px;
    font-style: italic;
    font-size: 1.5em;
}

#special {
    background-color: rgb(85, 79, 79);
    color: rgb(255, 255, 255)
}